@{
    ViewBag.Title = "ThongBaoRederect";
    Layout = "~/Views/Shared/_LayoutNstyle.cshtml";
}

<div style="color:red; text-align:center; font-weight:bold">Đã hết phiên làm việc. Vui lòng đăng nhập lại để được thao tác lại chức năng này</div>
