<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>

    <add key="log_path" value=".\logs\"/>
    <add key="log_level" value="0"/>

    <add key="to_database" value="false"/>
    <add key="to_filesystem" value="true"/>

    <add key="connection_string" value="Server=localhost;Database=tecvn_db;Uid=root;Pwd=;SslMode=none;"/>
    <add key="DefaultConnection" value="data source=14.177.239.150,1433;initial catalog=Observation;user id=sa;password=tecvietnam@1234"/>
    <add key="package_path" value=".\packages\"/>
    <add key="message_path" value=".\messages\"/>

    <add key="delay_get_pending" value="00:00:10"/>
    <add key="delay_to_send" value="00:15:00"/>
    <add key="delay_to_sync" value="00:00:05"/>

    <add key="udp_port" value="9090"/>
    <add key="wapi_base_url" value="http://bts.tecvietnam.vn"/>
    <add key="wapi_get_pending" value="api/pending"/>
    <add key="wapi_update_done" value="api/done"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
